<h1>Alpha Blog is an blogging application. You can share your blogs here.</h1>
<h2>What are you waiting for? Spread the word</h2>

<p>
	<%= link_to 'Article listing', articles_path %> | 
	<%= link_to 'About', about_path %> | 
	<%= link_to 'Home', root_path %> 
	
</p>